<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.min.css">
<head>
<body ng-app='app'>
  <div class= "row">
    <h1>The UK's biggest Tessel Store</h1>
    <div ng-controller="ItemsCtrl">

      <input ng-model='itemBody' class='form-control' placeholder="Body"/>
      <br>
      <input ng-model='itemModel' class='form-control' placeholder="Model"/>
      <br>
      <input ng-model='itemMID' class='form-control' placeholder="MID"/>
      <br>
      <input ng-model='itemPrice' class='form-control' placeholder="Price"/>

      <button ng-click='addItem()' class="button">Add Item</a></button>
        <ul class='list-group'>
          <li class-'list-group-item'>
            <strong>Best deals in town</strong>
            <span>Fun for all the geeks</span>
          </li>
          <li ng-repeat="item in items | orderBy:'-price'" class-'list-group-item'>

            <td>{{ item.model }} {{item.MID}}<td>
            <td>{{item.body}}</td>
            <td>{{item.price}}</td>

        </ul>

    </div>
  </div>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js'></script>
   <script>
    var app = angular.module('app', [])
     app.controller('ItemsCtrl', function ($scope, $http) {

       $scope.addItem = function(){
         if($scope.itemBody){
          $http.post('/api/items', {
            model: $scope.itemModel,
            MID: $scope.itemMID,
            body: $scope.itemBody,
            price: $scope.itemPrice
          }).success(function(item){
            $scope.items.unshift({
            model: $scope.itemModel,
            MID: $scope.itemMID,
            body: $scope.itemBody,
            price: $scope.itemPrice
           })
          })
        }
      }

        $http.get('http://localhost:3000/api/items')
          .success(function (items) {
            $scope.items = items
          })
    })
   </script>

 </body>
</html>
